<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Car Fleet service provider</title>
</head>
<body>
    <header class="jumbotron">
      <div class="container">
          <h1 class="display-4">Malibu Club Car Fleet</h1>
          <p class="lead">A selection of premium cars for you to drive.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
      </div>
    </header>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>